<ion-header>
  <ion-toolbar>
    <ion-title>recover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="recoverForm" (ngSubmit)="resetPassword($event)">
    <h4> Recuperar tu contraseña </h4>
    <ion-item>
      <ion-input formControlName="email" type="email" aria-placeholder="email" required placeholder="Escribe tu email"></ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="emailField.errors && emailField.dirty">
      <ion-label *ngIf="emailField.hasError('email')"> Email invalido </ion-label>
      <ion-label *ngIf="emailField.hasError('required')"> El Email es requerido </ion-label>
    </ion-chip>
    <ion-button type="submit" expand="block"> Recuperar </ion-button>
    <p> No estas registrado? <a routerLink="../register/"> Registrate </a> </p>
    <p> Estas registrado? <a routerLink="../login/"> Ingresa </a> </p>
  </form>
</ion-content>
